html,body{
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.background-Image
{
  background-image: url('/static/image/trollee.png ');
  /* background: rgba(0, 0, 0, 0.6) url('/static/image/trollee.png'); */
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat:  no-repeat;
  width: 100%;
}
