html,body{
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.background-Image
{
  background-image: url('/static/image/trollee.png ');
  height: 100%;
  background-position: center;
  background-repeat:  no-repeat;
  width: 100%;
}
