{% extends 'base.html' %}

{% block title %} ShocallyHomePage {% endblock title %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/shop/ratingStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/shop/slider.css' %}">

{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{product.image}}"  width="233px" height="385px">
    </div>
        <div class="row">
            <button type="button" class="btn btn-primary mr-2" id="buy{{product.id}}"  data-toggle="modal" data-target="#buyModal">
            Buy Now
            </button>
            <span id="divpr{{product.id}}" class="divpr" >
                <button id="pr{{product.id}}" class="btn btn-primary cart">Add To Cart</button>
            </span>
        </div>

    </div>

    <div class="col-md-8">
        <h5 class="text-success my-4" id="namepr{{product.id}}">{{product.product_name|title}}</h5>
        <p>{{product.desc}}</p>
        {% if product.Save is not 0 %}
          <p><b>Price : </b> <del class="text-danger">Rs. {{product.originalPrice}} </del></p>
          <p><b>Deal of the Day  : </b> Rs.<span class="text-info" id="pricepr{{product.id}}">{{product.price}}</span></p>
          <!-- <p><b>Deal of the Day : </b> Rs.{{product.price|add:"-5"}} </p> -->
          <p><b>Discount : </b> {{product.Discount}} %</p>
          <p><b>You Save : </b> Rs. {{ product.Save}} </p>
        {% else %}
        <p><b>Deal of the Day  : </b>Rs. {{product.originalPrice}}</p>
        {% endif %}
        <a href='/shop/ratingPage'>
        <!-- <div class="rate m-0 p-0" id="rating" data-toggle="modal" data-target="#RatingModal"> -->
        <div class="rate m-0 p-0" id="rating">
          <input type="radio" id="star5" class="changePage" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" class="changePage" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" class="changePage" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" class="changePage" name="rate"  value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" class="changePage" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
      </div>
      </a>
      <p>{{product.rating}}<p>
    </div>
    </div>
</div>


<div class="modal fade" id="RatingModal" tabindex="-1" aria-labelledby="RatingModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RatingModalTitle">Give Your Rating Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="shop/prodRatingUpdate/" method="post">
        {% csrf_token %}
  <div class="form-group">

    <input type="hidden" class="form-control" id="productId" name="productId" value="{{ product.id }}">
    <input type="hidden" class="form-control" id="RatingGiven" name="RatingGiven" value="" >
    <input type="hidden" class="form-control" id="product" name="product" value="product" >
  </div>


  <h4>How much you rate this product </h4>
  <div class="form-group">

    <div class="rate m-0 p-0" id="ratingNo">
    <input type="radio" id="star-5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star-4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star-3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star-2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star-1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
    </div>
  </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
       <div class="modal-footer">
      </div>
</div>
</div>
</div>

<form  id="cartForm" method="post">
  {% csrf_token %}
  <input type="hidden" name="cartData" id="cartData" value="">
  <input type="hidden" name="user" id="user" value="{{user}}">
  </form>



<!-- Buy Now  -->
  <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Buy Now</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/shop/buyNow/" method="post">
          {% csrf_token %}
    <div class="form-group">
      <label for="quantity">Enter the Quantity</label>
      <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter the Number ">
    </div>

      <input type="hidden" id="price" name="price" value="{{product.price}}">

    <input type="hidden"  id="prodName" name="prodName" value="{{product.product_name}}">
    <input type="hidden"  id="prodId" name="prodId" value="{{product.id}}">
    <input type="hidden"  id="orgPrice" name="orgPrice" value="{{product.originalPrice}}">

          <button type="submit" class="btn btn-primary">Confirm Buy</button>
  </form>
        </div>
         <div class="modal-footer">
        </div>
  </div>
  </div>
  </div>






  {% if suggestions %}
  <div class="container">
    <h3>Recommendation for You</h3>
  <div class="row">
      <!-- <div id="sug" class="col carousel slide my-3" data-ride="carousel">
          <ul class="carousel-indicators">
              <li data-target="#sug1" data-slide-to="0" class="active"></li>

              <li data-target="#sug2" data-slide-to="1"></li>

          </ul> -->

          <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
              <ul class="carousel-indicators">
                  <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                  {% for i in range %}
                  <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                  {% endfor %}
              </ul>
          <div class="container carousel-inner no-padding">
              <div class="carousel-item active">
                  {% for i in suggestions %}

                  <div class="col-xs-3 col-sm-3 col-md-3">
                      <div class="card align-items-center" style="width: 17rem;">
                          <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                          <div class="card-body">
                              <h6 class="card-title" id="namepr{{i.id}}">{{i.product_name|title}}</h6>
                              {% if i.product_name|length < 25 %}
                              <br class="pt-4">

                              {% endif %}
                              <p class="card-text">{{i.desc|slice:"0:47"}}...</p>
                              {% if i.desc|length < 25 %}
                              <br>
                              {% endif %}
                              <h6 class="card-title" >Price: <span id="pricepr{{i.id}}">{{i.price}}</span></h6>
                              {% if user.id == i.seller.user.id %}
                              <a href="/shop/editProduct/{{i.id}}" class="btn btn-success mx-2">Edit Product</a>
                              <button id="del{{i.id}}" class="btn btn-danger prodDel ">Delete </button>
                              <form   method="post">
                                {% csrf_token %}
                                <input type="hidden" name="delProd" id="delProd{{i.id}}" value="{{i.id}}">
                                <input type="hidden" name="sellerId" id="sellerId" value="{{shop.id}}">
                              </form>
                              <!-- <button id="edit{{i.id}}" class="btn btn-success mx-2">Edit Product</button>
                              <button id="del{{i.id}}" class="btn btn-danger ">Delete </button> -->
                              {% else %}
                               <span id="divpr{{i.id}}" class="divpr">
                                  <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                              </span>
                              <a href="/shop/productView/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary ">QuickView</button></a>
                              {% endif %}

                              <!-- <a href="/shop/productView/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">QuickView</button></a> -->
                          </div>
                      </div>
                  </div>





                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
              </div>

               <div class="carousel-item">
               {% endif %}

               {% endfor %}

          </div>
          </div>
      </div>
      <!-- left and right controls for the slide -->
      <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
          <span class="carousel-control-next-icon"></span>
      </a>
   </div>

</div>
{% endif %}



  {% if recommendations %}
<div class="container">



<div class="row">
    <div id="rec" class="col carousel slide my-3" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#rec1" data-slide-to="0" class="active"></li>

            <li data-target="#rec2" data-slide-to="1"></li>

        </ul>
        <div class="container carousel-inner no-padding">
            <div class="carousel-item active">
                {% for i in recommendations %}

                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card align-items-center" style="width: 17rem;">
                        <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title" id="namepr{{i.id}}">{{i.product_name|title}}</h6>
                            {% if i.product_name|length < 25 %}
                            <br class="pt-4">

                            {% endif %}
                            <p class="card-text">{{i.desc|slice:"0:47"}}...</p>
                            {% if i.desc|length < 25 %}
                            <br>
                            {% endif %}
                            <h6 class="card-title" >Price: <span id="pricepr{{i.id}}">{{i.price}}</span></h6>
                            {% if user.id == i.seller.user.id %}
                            <a href="/shop/editProduct/{{i.id}}" class="btn btn-success mx-2">Edit Product</a>
                            <button id="del{{i.id}}" class="btn btn-danger prodDel ">Delete </button>
                            <form   method="post">
                              {% csrf_token %}
                              <input type="hidden" name="delProd" id="delProd{{i.id}}" value="{{i.id}}">
                              <input type="hidden" name="sellerId" id="sellerId" value="{{shop.id}}">
                            </form>
                            <!-- <button id="edit{{i.id}}" class="btn btn-success mx-2">Edit Product</button>
                            <button id="del{{i.id}}" class="btn btn-danger ">Delete </button> -->
                            {% else %}
                             <span id="divpr{{i.id}}" class="divpr">
                                <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                            </span>
                            <a href="/shop/productView/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary ">QuickView</button></a>
                            {% endif %}

                            <!-- <a href="/shop/productView/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">QuickView</button></a> -->
                        </div>
                    </div>
                </div>





              {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
            </div>

             <div class="carousel-item">
             {% endif %}

             {% endfor %}

        </div>
        </div>
    </div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#rec" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#rec" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

 </div>

</div>

{% endif %}






{% endblock %}





{% block js %}



<script src="{% static 'js/shop/cartManage.js' %}"></script>

<script type="text/javascript">



  $('.changePage').on('click',function(e){
    console.log({{product.id}})
   window.location.href="/shop/ratingPage/{{product.id}}/product";
});



</script>

<script>
  console.log(2*parseInt({{product.rating}}))
  s=document.getElementById('rating');
  y=s.children

  if ( {{product.rating}} != 0.0){
    y[10-2*parseInt({{product.rating}})].checked=true;
  }



  // form=document.getElementById('formRating');

  // document.getElementById('hiddenRating').value=s;
  // form.submit();


</script>


<!-- <script>
console.log('working');

if(localStorage.getItem('cart') == null){
var cart = {};
}

else
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}

$('.cart').click(function(){

console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] !=undefined){
cart[idstr] = cart[idstr] + 1;
}
else
{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});
$('#popcart').popover();

document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');

<!-- </script> -->

{% endblock js %}
