{% extends 'base.html' %}
{% load static %}
{% block title %} ShocallyHomePage {% endblock title %}

{% block link %}

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<link href="{% static 'css/main.css' %}"  rel="stylesheet" />
{% endblock %}

{% block body %}


{%if user.is_authenticated %}
{% endif %}

<div class="container my-3 flex text-center">


  <h1>Search here Shops, Products or News</h1>

  <!-- <form class="my-2 my-lg-0 mx-3">

    <input class="form-control mr-sm-2 my-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
  </form> -->

</div>
<div class="s003 bg-secondary" >
<form method="POST" action="/shop/searchResult/">
  {% csrf_token %}
<div class="inner-form">
  <div class="input-field first-wrap">
    <div class="input-select">
      <select data-trigger=""  name="choices-single-defaul" id="category" name="category">
        <option placeholder="" value="product">Category</option>
        <option value="product">Product</option>
        <option value="shop">Shop</option>
        <option value="booking">Booking</option>
        <option value="news">News</option>
      </select>
    </div>
  </div>
  <div class="input-field second-wrap">
    <input id="pin" name="pin" type="text" value="{{request.session.pincode}}" />
  </div>
  <div class="input-field second-wrap">
    <input  type="search" placeholder="Enter Keywords?" aria-label="Search" name="query" id="query" />
    <input  type="hidden" name="cat" id="cat" >
  </div>
  <div class="input-field third-wrap">
    <button class="btn-search" type="submit">
    <!-- <button class="btn-search" type="button"> -->
      <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
      </svg>
    </button>
  </div>
</div>
</form>
</div>
{% endblock %}

{% block js %}



<script src="{% static 'js/search/extention/choices.js' %}"></script>


<script>
const choices = new Choices('[data-trigger]',
{
searchEnabled: false,
itemSelectText: '',
});

var e = document.getElementById('category');
var cat = document.getElementById('cat');


function updateCart(){

  var catValue = e.options[e.selectedIndex].text;
  // e.value = catValue;
  console.log(catValue);


  cat.value=catValue;
    if (catValue == 'Category')
      cat.value = 'product';
}
e.onchange = updateCart;
updateCart();



</script>


{% endblock %}
