<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block link %} {% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %} {% endblock title %}</title>
    <style>
      {% block css %} {% endblock %}
      body{
        padding-bottom: 70px;
      }
    </style>

  </head>
  <body>



      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/static/image/logo3.png" class="rounded-circle" alt="" width="100" height="50">
        </a>
        <a class="navbar-brand" href="#">Shocally</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item {% block blogactive %}  {% endblock blogactive %} ">
              <a class="nav-link" href="/blog">News</a>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
            </li>
          </ul>
          <div class="ml-auto form-inline ">
          <form method="get" action="/search"class="my-2 my-lg-0 mx-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
            <button class="btn btn-primary my-2 my-sm-0 " type="submit">Search</button>
            <a href="/admin" role="button" target="_blank" class="btn btn-outline-success m-2 my-sm-0"> Admin Panel </a>
          </form>

          {% if user.is_authenticated %}

          <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.">

        Cart(<span id="cart">0</span>)
        </button>

          <ul class="navbar-nav mr-2">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href='#' id="AuthUser" role="button" data-toggle="dropdown"> Welcome {{request.user.first_name}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/shop/logout">Logout</a>

                    {% if user.id == request.session.sellerUserId %}
                    <a class="dropdown-item" href="/shop/ShopView/{{request.session.shopId | safe}}">My Shop</a>
                    <a class="dropdown-item" href="/shop/orderNotify/{{request.session.shopId | safe}}">My Orders</a>
                    <a class="dropdown-item" href="/shop/">car</a>
                      {% endif %}

                    <a class="dropdown-item" href="/shop/tracker/">My Order</a>
                  </div>
                </li>
                </ul>
                </div>
          {% else %}

          <button type="button" class="btn btn-primary mr-2" id="userLogin" data-toggle="modal" data-target="#loginModal">
            Login
          </button>

          <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signupModal">
            SignUp
          </button>
          {% endif %}
        </div>
      </div>
    </nav>


    {% for message in messages  %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>Message : </strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
          </div>
    {% endfor %}



      {% block body %}  {% endblock body %}


      <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/shop/login" method="post">
              {% csrf_token %}
        <div class="form-group">
          <label for="loginusername">Username</label>
          <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter your username">
        </div>
        <div class="form-group">
          <label for="loginpassword">Enter your password </label>
          <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password ">
        </div>

              <button type="submit" class="btn btn-primary">Submit</button>
      </form>
            </div>
             <div class="modal-footer">
            </div>
      </div>
      </div>
      </div>
       <script>
                function yesnoCheck() {
            if (document.getElementById('yesCheck').checked) {

            document.getElementById('ifYes').style.display = 'block';
            document.getElementById('hide').value = 'Admin';
            }
            else  document.getElementById('ifYes').style.display = 'none';
            }
            </script>


      <!-- Login Modal -->

      <!-- SignUp Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action= "/shop/signup" enctype='multipart/form-data' method='post'>
          {% csrf_token %}

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username" required>
  </div>

  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" required>
  </div>

  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" required>
  </div>

  <div class="form-group">
      <label for="pinCode">PINCODE</label>
      <input type="tel" class="form-control" id="pinCode" pattern="[0-9]{6}" name="pinCode" maxlength="6" placeholder="PINCODE where you live " required>
  </div>

  <div class="form-group" required>
      <label for="Address">Enter Your Address</label>
      <input type="text" class="form-control" id='=Address' name='Address' placeholder="Enter Your Address" required>
  </div>

  <div class="form-group">
      <label for="PhoneNo">Phone Number</label>
      <input type="tel" class="form-control" id="PhoneNo" pattern="[0-9]{10}" name="PhoneNo" maxlength="10" oninvalid="this.setCustomValidity('Please enter Valid Mobile Number of 10 digit')" oninput="this.setCustomValidity('')"  placeholder="Enter Your Phone Number" required>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
  </div>

  <div class="form-group">
    <label for="pass1">Choose a password</label>
    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password" required>
  </div>
  <div class="form-group">
    <label for="pass2">Confirm Password</label>
    <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again">
  </div>

  <div class="form-group">
      <label for="userImg">Upload Your Profile Pic </label><br>
      <input type="file"   id='userImg' name='userImg' >
  </div>

  <div class="form-group">
      <b>Select Account Type</b><br>
    <label for="yesCheck">Seller </label>
    <input type="radio"  onclick="javascript:yesnoCheck();" id="yesCheck" name="yesno" placeholder="Enter your password " required>
    <label for="noCheck">User </label>
    <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck">

  </div>


<!-- <div id="ifYes" class="form-group"  style="visibility:hidden"> -->
  <div id="ifYes" class="form-group"  style="display:none">

      <div class="form-group">
          <label for="shopName">Enter Your Shop Name</label>
          <input type="text" class="form-control" id='shopName' name='shopName'placeholder="Enter Your Shop Name">
      </div>

      <div class="form-group">
          <label for="shopCat">Enter Your Shop Category</label>
          <input type="text" class="form-control" id='shopCat' name='shopCat' placeholder="Enter Your Shop Category">
      </div>

      <div class="form-group">
          <label for="shopAddress">Enter Your Shop Address</label>
          <input type="text" class="form-control" id='shopAddress' name='shopAddress' placeholder="Enter Your Shop Address">
      </div>

      <div class="form-group">
          <label for="shopImg">Upload Your Shop Image</label>
          <input type="file"   id='shopImg' name='shopImg' >
      </div>

      <div class="form-group">
          <input type="hidden"   id='hide' name='UserType'  value="user">
      </div>

  </div>



        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{% load static %}



<!-- Footer -->
<!-- <footer class="page-footer  bg-dark font-small blue pt-5 mt-4 fixed-bottom"> -->
<footer class="page-footer  bg-dark font-small blue pt-5">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
-->


     <script>
              function yesnoCheck() {
          if (document.getElementById('yesCheck').checked) {

          document.getElementById('ifYes').style.display = 'block';
          document.getElementById('hide').value = 'Admin';
          }
          else  document.getElementById('ifYes').style.display = 'none';
          }
          </script>
    {% load static %}

          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

          <!-- <script src="{% static 'js/shop/popover.min.js' %}"></script> -->
      <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> only interchange the position -->


          <script>
      {% if user.is_authenticated %}


        {% if user.is_Seller %}
        var sellerUser={{request.session.sellerUser | safe}}
        {% endif %}

        console.log("authenticate hh bhai swagat karo ")
        var cartJson={{request.session.cartJson | safe}}
        var cartPrice={{request.session.cartPrice | safe}}
        var cartTotal={{request.session.cartTotal | safe}}

        // $('#cart').innertext(cartTotal);
        document.getElementById('cart').innerHTML=cartTotal;
        // $('#cart').textContent(toString(cartTotal));

      {% endif %}
      // console.log({{request.session.userCartJson}})
        </script>




        <script>

        function CheckingUser(){
        console.log("chala")
          if(null==document.getElementById('AuthUser'))  //if user is not authenticated then this function will work otherwise not
          {

            loginButton=document.getElementById('userLogin');
            loginButton.click();
            return false;
          }
           else{
             return true;
           }
        }




          if(document.getElementById('AuthUser')) //checking if the user is authenticated or not
          {

            if (cartJson==0) {
              // if (localStorage.getItem('cart') == null) {
                var cart = {};
              }
              else {
                console.log("cartJson - base.html ",cartJson)
                cart = cartJson;
                // cart = JSON.parse(localStorage.getItem('cart'));
                console.log("cart - ",cart);
                // updateCart(cart);
              }

          }

          //Add Popover to cart
          // $('#popcart').popover();
          updatePopover(cart);

          function updatePopover(cart) {

            if(document.getElementById('AuthUser'))
            {

              console.log('We are inside updatePopover');
              var popStr = "";
              popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
              var i = 1;
              for (var item in cart) {
                if (Object.keys(cart).length >0)
                {
                  // popStr = popStr + "<b>" + i + "</b>. ";
                  // popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
                  // i = i + 1;

                  popStr = popStr + "<b>" + i + "</b>. ";
                  popStr = popStr + cart[item][1].slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
                  i = i + 1;
                }
                else{
                  popStr = "<h5> You haven't Cart any item </h5><div class='mx-2 my-2'>";
                }

              }

              // popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a><button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>"
              // popStr = popStr + "</div> <a href='/shop/checkout' class='btn btn-primary'>Checkout</a> <a  href='' class='btn btn-primary mx-2' onclick='clearCart();' id='clearCart'>Clear Cart</a>"
              popStr = popStr + "</div> <a href='/shop/checkout' class='btn btn-primary'>Checkout</a> <a href='/shop/clearCart/' class='btn btn-primary mx-2' id='clearCart' >Clear Cart</a>"
              // popStr = popStr + "</div> <a href='/shop/checkout' class='btn btn-primary'>Checkout</a>"+ "<a  href='javascript:'clearCart();'   id ='clearCart'>Clear Cart</a>"
              var dp=new DOMParser();
              var doc=dp.parseFromString(popStr,'text/html');
              // alert(doc.documentElement.outerHTML);
              document.getElementById('popcart').setAttribute('data-content', popStr);
              // document.getElementById('popcart').setAttribute('data-content',doc.documentElement.outerHTML );
              // $('#popcart').popover('show');
              // var $j=jQuery.noConflict();  $j use
              $(document).ready(function(){

                $('[data-toggle="popover"]').popover();
              });

            }
          }


          // $("#clearCart").click(function(e){
          //   // e.preventDefault();
          //   console.log("clear cart clicked ")
          //   clearCart();
          //
          //   cartForm=document.getElementById('cartForm');
          //   $('#cartData').val(JSON.stringify(cart));
          //
          //   $.ajax({
          //       type:'POST',
          //       url:'/shop/cart/',
          //       data:{
          //             cartData:$('#cartData').val(),
          //             user:$('#user').val(),
          //             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          //           },
          //           success:function(){
          //             alert("ok done");
          //           }
          //   });
          // });


          //
          // function clearCart() {
          //     console.log("cart is clearing ")
          //     // cart = JSON.parse(localStorage.getItem('cart'));
          //
          //     // div wala item nhi mil rha
          //     // for (var item in cart) {
          //     //     document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
          //     // }
          //     //
          //     // cart = {};
          //
          //     // updateCart(cart);
          //
          // }


          <!-- // if(null==document.getElementById('AuthUser'))  //if user is authenticated then this function will work otherwise not
          // {
          //
          //   loginButton=document.getElementById('userLogin');
          //   loginButton.click();
          //
          // }
          //  else{ -->

        </script>
        {% block js %}
        {% endblock js %}

    </body>
    </html>
